:root {
    --color-principal:#fabfb7;
    --color-secundario:#E4D6B8;
    --color-terciario:#fff;
    --font-principal:'Schoolbell', cursive;
    --font-secundaria:'Nunito Sans', sans-serif;
}

body {
    background-color: var(--color-principal);
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    min-width: 320px;
    font-family: var(--font-principal);

}
/* Estilos para la flecha (colócalos aquí o en un archivo de estilos externo) */
#scroll-to-top {
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 9999;
  }
  
  #scroll-to-top img {
    width: 40px; /* Ajusta el tamaño según tu ícono */
    height: 40px;
    cursor: pointer;
  }

  
p {
    padding: 0px;
    margin: 0px;
}
header {
    padding: auto;
    margin: auto;
    width: 100%;
    height: 100vh;
    min-width: 320px;
    background-image: url(img/backgrounddesktop.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
    justify-content: center;
    animation-name: texto;
    animation-duration: 5s;

}
@keyframes texto {
    from{
        opacity: 0;
    }
    to{
        opacity: 1;
    }
}
header .header-info {
    width: 100vw;
    height: 100%;
    max-width: 420px;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: bottom;
    color: var(--color-terciario);
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.infoimportante {
    width: 100vw;
    height: 40%;
    max-width: 420px;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    gap: -3px;
    padding-bottom: 10px;
}
.infoimportante a {
    margin: 0px 0 0 0;
}

.infoimportante img {
    width: 60%;
}
.fecha {
    width: 100%;
    padding: auto;
    display: flex;
    align-items: center;
    justify-content: center;
}
/* TODO AUIDO */
.audiodiv {
    position: fixed;
    top: 20px;
    right: 20px;
    background-color: var(--color-principal);
    width: 60px;
    height: 60px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    animation: bounce;
    animation-duration:6s;
    animation-iteration-count:300ms;
}
@keyframes bounce {
    0%, 20%, 50%, 80%, 100% {
        transform: translateY(0);
    }
    40% {
        transform: translateY(-30px);
    }
    60% {
        transform: translateY(-15px);
    }
}
.audiodiv img {
    padding: 6px  0 0 0;
    margin: 0;
    width: 60px;
    height: 60px;
}
.play {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

/* Ocultar los controles nativos del audio */
audio::-webkit-media-controls {
    display:none !important;
}

audio::-webkit-media-controls-panel {
    display:none !important;
}

audio::-webkit-media-controls-play-button {
    display:none !important;
}

audio::-webkit-media-controls-start-playback-button {
    display:none !important;
}

audio::-webkit-media-controls-enclosure {
    display:none !important;
}

audio::-webkit-media-controls-current-time-display {
    display:none !important;
}



.boton {
    border: 1px solid var(--color-principal);
    background-color: var(--color-terciario);
    color: var(--color-principal);
    padding: 10px 30PX;
    text-decoration: none;
    margin-top:0px;
    border-radius: 50px;
 }
 .boton:hover {
     color: var(--color-terciario);
     background-color: var(--color-principal);
     border: 1px solid var(--color-terciario);
     padding: 10px 30PX;
     text-align: center;
     text-decoration: none;
 }
 .boton2 {
    border: 1px solid var(--color-principal);
    background-color: var(--color-principal);
    color: white;
    padding: 10px 30PX;
    text-decoration: none;
    margin-top:0px;
    border-radius: 50px;
 }
 .boton2:hover {
     color: var(--color-terciario);
     background-color: transparent;
     border: 1px solid var(--color-terciario);
     padding: 10px 30PX;
     text-align: center;
     text-decoration: none;
 }
.countdown {
    background-color: var(--color-principal);
    color: #ffff;
    padding: 16px 0 0 0;
    text-align: center;
    height: 10vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    font-family: 2em;
}
.countdown p {
    font-size: 1.4em;
}
#clock {
    font-size: 1.4rem; /* Cambia a un tamaño mayor si lo necesitas */
    font-weight: lighter; /* Opcional, para hacerla más visible */
    color:var(--color-terciario); /* Cambia el color si lo deseas */
  }
main {
    width: 100%;
    height: auto;
    padding: 0;
    margin: 0;
    color: var(--color-terciario);
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}
main .main-bloque {
    padding: 30px 0 ;
}
main img {
    width: 60px;
}
main p {
    padding: 6px 40px 30px 40px;
    max-width: 350px;
    font-size: 1.2rem;
    
}
.galeria {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}
.galeria img {
    width: 25vw;
}
.galeria2 {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}
.galeria2 img {
    width: 25vw;
}
.segundo {
    width: 100%;
    height: 60vh;
    padding: 0;
    margin: 0;
    color: white;
    background-color: var(--color-terciario);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom;    
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    
    
}
.segundo img {
    width: 89px;
}
.segundo p {
    padding: 6px 40px;
    max-width: 500px;
    font-size: 1.2Rem;
    
}
.segundo img{
    width: 60px;
    padding-bottom: 10px;
}
.end {
    background-image: url(img/madeira1.html);
    background-position: center;
    background-size: cover;
    padding: 30px;
    text-align: center;
    color: var(--color-terciario);
    display: flex;
    justify-content: center;
    gap: 10px;
    
}
.end img {
    width: 60px;
}
.end h2{
    padding: 0;
    margin: 0;
    font-size: 2em;
}
.end h3{
    padding: 0;
    margin: 0;
    font-size: 1.2em;
}
.end .espejo{
    transform: scaleX(-1);
}

footer {
    width: 100%;
    height: auto;
    margin: 0;
    background-color: var(--color-terciario);
    color: var(--color-principal);
    padding: 40px 0;
    text-align: center;
}
footer .contenido{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}
footer img {
    width: 60px;
}
.contenido ul {
    display: flex;
    list-style: none;
    gap: 20px;
    padding: 0;

}

.contenido a {
    color: var(--color-principal);
}
.contenido a:hover {
    color: var(--color-secundario);
}


.contenido a {
    color: var(--color-principal);
}
.contenido a:hover {
    color: var(--color-secundario);
}

@media (max-width: 600px) {
    header {
        background-image: url(img/backgroundphone.png);
        background-size:cover;
    }
    main {
        width: 100%;
        height: auto;
        padding: 0;
        margin: 0;
        color: var(--color-terciario);
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        text-align: center;
    }
    .infoimportante {
        width: 100vw;
        height: 80vh;
        max-width: 420px;
        margin: 30px 0 0 0;
       
    }
    .infoimportante img {
        width: 70%;
    }
    .segundo {
        background-color: var(--color-terciario);
        background-image: url(figuras/Group.png);
        width: 100%;
        height: 60vh;
    }
    .fecha img{
        margin:  0 0 10px 0;
        max-width: 96vw;
    }
    .galeria {
        width: 100%;
        display: grid;
        grid-template-columns:1fr ;
    }
    .galeria img {
        width: 100vw;
    }

    .galeria2 {
        width: 100%;
        display: grid;
        grid-template-columns:1fr 1fr;
    }
    .galeria2 img {
        width: 50vw;
    }
    .f2, .f3, .f4 {
        display: none;
    }
}